html {
  height: 100%;
}

body {
  height: 100%;
}

.long-notification {
  word-break: break-word; /* or overflow-wrap: break-word; */
}

.is-fullheight {
  height: 100%;
}

#malleus_console {
  height: 70%;
}