{% extends "malleusui/base.html" %}

{% load static %}

{% block content %}
<nav class="navbar is-primary">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">
                <img src="{% static 'images/hammer.png' %}"/>
                Malleus
            </a>
            <!-- <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
            </span> -->
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'index' %}">
                    <span class="icon is-small is-left">
                        <span class="mdi mdi-console-network"></span>
                    </span>
                    Labs
                </a>
                <a class="navbar-item" href="{% url 'files' %}">
                    <span class="icon is-small is-left">
                        <span class="mdi mdi-file-download"></span>
                    </span>
                    Files
                </a>
                <a class="navbar-item" href="{% url 'access' %}">
                    <span class="icon is-small is-left">
                        <span class="mdi mdi-remote-desktop"></span>
                    </span>
                    Access
                </a>
                {% if user.is_superuser %}
                <a class="navbar-item" href="{% url 'resources' %}">
                    <span class="icon is-small is-left">
                        <span class="mdi mdi-chart-pie"></span>
                    </span>
                    Resources
                </a>
                {% endif %}
                <a class="navbar-item" href="{% url 'logout' %}">
                    <span class="icon is-small is-left">
                        <span class="mdi mdi-logout"></span>
                    </span>
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>

{% block appcontent %}

{% endblock %}

{% endblock %}
