{% extends "malleusui/baseapp.html" %}

{% block appcontent %}

 <div class="container">
    <div class="section">
        <div class="columns">
            <div class="column has-text-centered">
            <h1 class="title" style="color: ghostwhite;">Labs</h1><br>
            </div>
        </div>
        <div class="row is-multiline">
        {% for lab in labs %}
            <div class="card is-fullwidth">
                <header class="card-header">
                    <p class="card-header-title">{{ lab.name }}</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{ lab.description }}
                    </div>
                </div>
                <footer class="card-footer">
                    {% if lab.running %}
                    <a href="{% url 'manage' lab.id %}" class="card-footer-item">
                        <span class="icon is-medium is-left">
                            <span class="mdi mdi-cog"></span>
                        </span>
                        Manage
                    </a>
                    {% else %}
                    <a href="{% url 'create' lab.id %}" class="card-footer-item">
                        <span class="icon is-medium is-left">
                            <span class="mdi mdi-play"></span>
                        </span>
                        Start
                    </a>
                    {% endif %}
                    {% if lab.has_docs %}
                    <a href="{% url 'docs' lab.id %}" class="card-footer-item">
                        <span class="icon is-medium is-left">
                            <span class="mdi mdi-notebook"></span>
                        </span>
                        Documentation
                    </a>
                    {% endif %}
                </footer>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
