{% extends "malleusui/baseapp.html" %}

{% block appcontent %}
<div class="container"><div class="container">
    <div class="section">    
         <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        Controls
                    </p>
                    <ul class="menu-list">
                        <li><a href="{%url 'delete' lab_id %}">Delete</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <div class="block">
                                <h1 class="title">{{ lab.name }} (ID: {{ lab_id }})</h1>
                                <div class="block">
                                    {{ lab.description }}
                                </div>
                                <div class="block">
                                    <strong>Project:</strong> {{ project_name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Hostname</th>
                                <th>Description</th>
                                <th>IP</th>
                                <th>Forwards</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for host in lab.hosts %}
                            <tr>
                                <td>
                                    {% if host.console and host.running %}
                                    <a href="{% url 'console' lab_id host.hostname %}">
                                        
                                        <span class="icon is-small is-left">
                                            <span class="mdi mdi-console"></span>
                                        </span>
                                        {{ host.hostname }} 
                                    </a>
                                    {% else %}
                                    {{ host.hostname }}
                                    {% endif %}
                                </td>
                                <td>{{ host.description }}</td>
                                {% if host.hide_ip %}
                                <td>---</td>
                                {% else %}
                                <td>{{ host.ip_addr }}</td>
                                {% endif %}
                                <td>
                                    <ul>
                                    {% for key, data in host.port_forwards.items %}
                                        <li>{{ data.listen }} to internal {{ data.connect_to }} </li>
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
            

                            {% endfor %}
                            
                        
                        </tbody>
                    </table>
                </div>

       
            </div>
        </div>
    </div>
        

        
    </div>    
</div>
{% endblock %}
